<!DOCTYPE html>
<html>
    <head>
        <title><%= __("404-title") %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1><%= __("404-massage") %></h1>
    </body>
</html>