<!DOCTYPE html>
<html>
    <head>
        <title><%= __("404-title") %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include files/_header.ejs %>
        <script>
            function a(){
                alert(i18n['404-title']);
            }
            $(document).ready(function(){
                a();
            });
        </script>
    </head>
    <body>
        <h1><%= __("404-massage") %></h1>
    </body>
</html>