<div id="d-navigation">
    <div id="menu"><span>Menu</span><i id="btn-show-menu" class="fa fa-bars" aria-hidden="true"></i></div>
    <ul id="sub-memu">
        <li data="0" <% if(screen === 0) { %> class="active" <% } %>><i class="fa fa-university" aria-hidden="true"></i><span>Chi nhánh</span></li>
        <li data="1" <% if(screen === 1) { %> class="active" <% } %>><i class="fa fa-address-card" aria-hidden="true"></i><span>Nhân viên</span></li>
        <li data="2" <% if(screen === 2) { %> class="active" <% } %>><i class="fa fa-object-group" aria-hidden="true"></i><span>Danh mục</span></li>
        <li data="3" <% if(screen === 3) { %> class="active" <% } %>><i class="fa fa-handshake-o" aria-hidden="true"></i><span>Đối tác</span></li>
        <li data="4" <% if(screen === 4) { %> class="active" <% } %>><i class="fa fa-database" aria-hidden="true"></i><span>Kho hàng</span></li>
        <li data="5" <% if(screen === 5) { %> class="active" <% } %>><i class="fa fa-area-chart" aria-hidden="true"></i><span>Thống kê</span></li>
        <li data="6" <% if(screen === 6) { %> class="active" <% } %>><i class="fa fa-envelope" aria-hidden="true"></i><span>Tin nhắn</span></li>
    </ul>
    <div id="user-login">
        <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"> <%= session.user %></i>
        <p><%= session.name %></p>
        <p><%= session.jurisdictionname %></p>
        <i class="fa fa-sign-out fa-even" title="Đăng xuất" aria-hidden="true" onclick="window.location.href='logout'" ></i>
        <i class="fa fa-address-card-o fa-even" title="Thông tin tài khoản" aria-hidden="true" onclick="window.location.href='personnel'"></i>
        <div class="d-clear"></div>
    </div>
</div>
